:host { display: block; padding: 1rem; background: #0a0a0a; color: #ddd; }

.app-container {
  padding: 1rem;
  background: #121212;
  color: #7efeeb;
  border-radius: .5rem;
}

button {
  cursor: pointer;
  background: #2a99b6;
  color: #fff;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 0.3rem;
}
